<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chat Game Demo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C1167DB6E722E61E885A107853E7129E2E63227C</string>
				<key>dateExpires</key>
				<string>1/3/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>H74EYQDPHH.com.realnotion.Chat-Game</string>
				<key>com.apple.developer.team-identifier</key>
				<string>H74EYQDPHH</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Chat Game Demo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7dbfb90f-2ec8-4461-9553-9cb976bfa8bf</string>
				<key>dateExpires</key>
				<string>4/4/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H74EYQDPHH</string>
				<key>name</key>
				<string>Anupam Godbole (Individual)</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
